*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --gutter: 2vh 4vw;
  --nav-height: 8vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.konvajs-content canvas {
  margin: 5vh auto !important;
  border: 0px !important;
  background: white !important;
  display: block !important;
  position: relative !important;
  height: 500px !important;
  width: 500px !important;
}

.konvajs-content{
  margin: auto;
}